body {
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  padding: 20px;
  width: 250px; 
  text-align: center;
  margin: 0 auto;
  height: fit-content;
  border-radius: 20px;
  overflow: hidden;
}
h3 {
  font-size: 1.5rem;
}

p {
  text-align: left;
  font-size: 1.225rem;
  line-height: 1.55rem;
}

a {
  text-decoration: none;
  color: #9C1E22;
}
input { 
  width: 226px;
  margin-top: 8px; 
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
}
button {
  margin-top: 10px; 
  width: 250px; 
  position: relative;
  padding: 0.5rem 2rem;
  font-weight: 400;
  background: black;
  border-radius: 10px;
  transition: all 0.3s ease;
  color:aliceblue;
  border: none;
  &:hover {
    background: purple;
  }
}

img {
  background-color: #ffffff;
  border-radius: 100%;
  border: 3px solid #ffffff;
}

.header {
  text-align: center;
}

.logo {
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.quote {
  font-weight: 200;
}

.quote span {
  font-weight: 400;
}

footer {
  text-align: center;
  padding: .125rem 0;
  background-color: #ffffff40;
  border-radius: 2rem;
  margin: 2rem 4rem;
  p {
    font-size: 1rem;
    text-align: center;
  }
}

.harvest-overlap {
  outline: 3px solid red !important;
  background-color: rgba(255, 0, 0, 0.1) !important;
}

.gradiant {
  margin: 0;
  /* height: 400; */
  width: 300px;
  font-family: system-ui, sans-serif;
  color: white;
  text-align: center;
  background: linear-gradient(-90deg, #ff6b6b, #feca57, #48dbfb, #5f27cd);
  background-size: 400% 400%;
  animation: gradientShift 36s cubic-bezier(0.4, 0, 1, 1) infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}